.NavigationalItem {
    box-sizing: border-box;
    width: 100%;  
    margin: 10px 0; 
}

.NavigationalItem a {
    color: #8F5c2c;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationalItem a:hover,
.NavigationalItem a:active,
.NavigationalItem a.active {
    color: #40A4c8;
}

@media(min-width: 500px) {
    .NavigationalItem {
        margin: 0;
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
    }
    
    .NavigationalItem a {
        color: white;
        padding: 16px 10px;
        height: 100%;
        width: auto;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationalItem a:hover,
    .NavigationalItem a:active,
    .NavigationalItem a.active {
        background-color: #8F5c2c;
        border-bottom: 4px solid #40A4c8;
        color: white;
    }
}