.NavigationalItem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}

.NavigationalItem a {
    color: white;
    text-decoration: none;
    padding: 16px 10px;
    height: 100%;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
}

.NavigationalItem a:hover,
.NavigationalItem a:active,
.NavigationalItem a.active {
    background-color: #8F5c2c;
    border-bottom: 4px solid #40A4c8;
    color: white;
}